body{
    background-color:    #f2f4f4   ;
    width: 250px;
    overflow-x: hidden;
}
h1{
    color:  #154360 ;
    font-family: 'Helvetica';
    font-size: 20px;
}
.txt{
    background-color:   #aab7b8  ;
    font-family: sans-serif;
    font-size: 15px;
    color: #1b2631  ;
    margin:3px;
    padding: 10px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
}

.btn{
    margin:2px;
    margin-top: 5%;
    padding: 10px; 
    font-family: sans-serif;
    font-size: 15px;
    width: 80%;
    background-color: #ffffff;
    border-style: none;
    border-radius: 10px;
}
.btn:hover{
    margin:2px;
    margin-top: 5%;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    width: 80%;
    background-color: #e6fbf9;
    border-style: none;
    border-radius: 10px;
}
